<%# include relative path to the partials file %>
<% include ../partials/header.ejs  %>

<h1>Detail of Child</h1>

<form method="post" action="/users">
  <div class="form-group">
    <label for="name">NAME OF CHILD</label>
    <input type="text" class="form-control" id="name" name="newchild[name]" placeholder="Child's Name">
  </div>
  <div class="form-group">
    <label for="nric">NRIC</label>
    <input type="text" class="form-control" id="nric" name="newchild[nric]" placeholder="NRIC">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="text" class="form-control" id="age" name="newchild[age]" placeholder="Age">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
